:root {
    --on: lime;
    --off: red;
    --panel: gray;
    --panel-dark: rgb(88, 88, 88);
    --panel-black: rgb(36, 36, 36);
}
body {
    margin: 0;
    width: 200px;
    height: 500px;
    background-color: #444;
}
.logo {
    width: 44px;
    height: 44px;
    text-align: center;
}
.logo img {
    width: 40px;
    height: 40px;
    margin: auto;
}
.panel {
    float: left;
    background: var(--panel);
    padding: 5px;
    border-radius: 5px;
    border: 2px solid var(--panel-dark);
    box-shadow: 0 5px 0px var(--panel-black);
    margin: 2px;
}
.powerbtn {
    height: 44px;
    float: right !important;
}
#ON, #OFF {
    height: 30px;
    width: 60px;
    border: none;
    float: left;
    margin: 0;
    margin-top: 5px;
    box-shadow: 0 6px darkgray;
}
#ON {
    background: var(--on);
    border-radius: 5px 0 0 5px;
}
#OFF {
    background: var(--off);
    border-radius: 0 5px 5px 0;
}
.pressed {
    transform: translateY(5px);
    box-shadow: 0 2px darkgray !important;
}